# yii console command
/yii

# yii console command
/vagrant/nginx/log/backend-access.log

# ignore local configs
*.local.php

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
Vagrantfile
/.vagrant
/instant/node_modules/
/composer.lock
/frontend/web/css/custom_style.css
/frontend/web/css/custom_style.css.map
/instant/db.js
/instant/redisOptions.js
/instant/npm-debug.log
/instant/sslOptions.js
/instant/cert/ssl-cert-snakeoil.pem
/instant/cert/ssl-cert-snakeoil.key
/instant/port.js
/api/config/main-local.php
/api/config/params-local.php
/api/common/runtime/
/api/web/assets/
/frontend/web/runtime/
/.htaccess
/.gitignore
/common/config/main-local.php
/database.sql
!/script.php
!/script2.php
/script.php
/script2.php

/vagrant/nginx/app.conf
/vagrant/nginx/log/
/vagrant/config/vagrant-local.yml
/vagrant/supervisor/log/

# VPN
/*.vpn
/*.ovpn

# some logs
/backend/web/runtime/
/backend/runtime/
/api/web/runtime/
/api/runtime/
/frontend/web/runtime/
/frontend/runtime/

/api_web/web/index-test.php
/api_web/web/index.php
/api_web/config/.gitignore
backend/web/upload/temp/
franchise/web/runtime/
franchise/web/upload/temp/
/nightwatch/node_modules/
/nightwatch/reports/
/nightwatch/dev/reports/
/nightwatch/qas/reports/
/nightwatch/package-lock.json
