<div class="block_wrap_bask_tover" id="cartOrder5835" style="
     overflow: hidden;
     ">
    <div class="block_left active">
        <div class="block_left_top">

            <a class="delete" href="#" data-url="/order/ajax-delete-order?all=0&amp;order_id=5835"><img class="delete_tovar_bask" src="/img/bask_del.png" alt=""></a>                                
            <div class="block_wrap_activess" style="
                 width: 100%;
                 margin-left: 0;
                 text-align: center;
                 float: none;
                 display: inline;">
                <p class="basket_tovar_postav_name">àêàç ó ïîñòàâùèêà <span>å÷òî</span></p>
                <img class="active_tov" src="/img/bot_ar.png" alt="" data-pin-nopin="true">
            </div>
            <div class="checkout_buttons" style="
                 display: inline-block;
                 width: 100%;
                 ">
                <button type="button" class="but_go_zakaz create pull-right" data-url="/order/ajax-make-order" data-id="5835" data-all="">ôîðìèòü çàêàç</button>                                    
                <button type="button" class="but_comments comment pull-right" data-url="/order/ajax-set-comment?order_id=5835" data-toggle="tooltip" data-placement="bottom" data-original-title="">îììåíòàðèé ê çàêàçó</button>                                    
                <div id="w0-kvdate" class="input-group date">
                    <span class="input-group-addon kv-date-calendar" title="ûáðàòü äàòó"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="text" id="w0" class="delivery-date krajee-datepicker form-control" name="" placeholder="àòà äîñòàâêè" data-order_id="5835" data-datepicker-source="w0-kvdate" data-datepicker-type="3" data-krajee-kvdatepicker="kvDatepicker_9fef593c"><span class="input-group-addon kv-date-remove" title="÷èñòèòü ïîëå"><i class="glyphicon glyphicon-remove"></i></span>
                </div>                                
            </div>
        </div>
        <div class="block_left_bot">
            <div class="block_left_bot_left">
                <p class="block_left_bot_left_name">dfb ngnd2</p>
                <p class="block_left_bot_left_art">ðòèêóë: bb2</p>
                <!--        <img  class = "izbranoe" src="/img/izb_icon.png" alt="">
                        <a class = "izbranoe_p" href="#">çáðàííîå</a>--><br>
                <p class="kr_p">ðàòíîñòü: 6fv</p>
                <button type="button" class="add-note but_com" data-id="121902" data-url="/order/ajax-set-note?product_id=121902" data-toggle="tooltip" data-placement="bottom" data-original-title="">îììåíòàðèé ê òîâàðó</button>            
                <br><br>
            </div>
            <div class="block_chek_kolvo">
                <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyphicon glyphicon-minus-sign"></i></button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" id="w1" class="quantity form-control" name="OrderContent[19207][quantity]" data-krajee-touchspin="TouchSpin_5650d4f4" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyphicon glyphicon-plus-sign"></i></button></span></div><input type="hidden" name="OrderContent[19207][id]" value="19207">        </div>
            <div class="block_cena">
                <p class="block_cena_p"><span id="total19207">3,462.00</span> ðóá.</p>
                <p class="block_cena_p1">6.000 x <span> 577.00 ðóá.</span></p>
                <a class="remove" href="#" data-url="/order/ajax-remove-position?vendor_id=1273&amp;product_id=121902"><img class="delete_tovar1" src="/img/tovar_delete.png" alt=""></a>        </div>
        </div>
        <div class="block_left_bot">
            <div class="block_left_bot_left">
                <p class="block_left_bot_left_name">dfb ngnd3</p>
                <p class="block_left_bot_left_art">ðòèêóë: bb3</p>
                <!--        <img  class = "izbranoe" src="/img/izb_icon.png" alt="">
                        <a class = "izbranoe_p" href="#">çáðàííîå</a>--><br>
                <p class="kr_p">ðàòíîñòü: 1fv</p>
                <button type="button" class="add-note but_com" data-id="121903" data-url="/order/ajax-set-note?product_id=121903" data-toggle="tooltip" data-placement="bottom" data-original-title="">îììåíòàðèé ê òîâàðó</button>            <br><br>
            </div>
            <div class="block_chek_kolvo">
                <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyphicon glyphicon-minus-sign"></i></button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" id="w2" class="quantity form-control" name="OrderContent[19208][quantity]" data-krajee-touchspin="TouchSpin_9bbc7cd3" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyphicon glyphicon-plus-sign"></i></button></span></div><input type="hidden" name="OrderContent[19208][id]" value="19208">        </div>
            <div class="block_cena">
                <p class="block_cena_p"><span id="total19208">577.00</span> ðóá.</p>
                <p class="block_cena_p1">1.000 x <span> 577.00 ðóá.</span></p>
                <a class="remove" href="#" data-url="/order/ajax-remove-position?vendor_id=1273&amp;product_id=121903"><img class="delete_tovar1" src="/img/tovar_delete.png" alt=""></a>        </div>
        </div>
    </div>
    <div class="block_right">
        <div class="block_right_wrap">
            <p>òîãî: <span id="orderTotal5835">4039.00</span> ð.</p>

        </div>
        <div class="block_right_wrap_1">
            <p>áåñïëàòíàß äîñòàâêà!</p>
            <button type="button" class="create" data-url="/order/ajax-make-order" data-id="5835" data-all="">ôîðìèòü çàêàç</button>                            </div>


    </div>
</div>




