<<<<<<< HEAD
p{
	margin: 0;
	padding: 0;
}

.block_wrap_bask_tover{
	
	width: 100%;
	margin-top: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 2px;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
	position: relative;
	display: table; 
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;

	
}
.block_left{
	
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	display: table-cell;

}
.block_left_top{
	text-align: right;
}

.delete_tovar_bask{
	width: 20px;
	height: 20px;
	opacity: 0.7;
	position: absolute;
	
	left: 0;
	top :50%;
	margin-top: -10px;
	cursor: pointer;
	margin-left: 10px;
}
.block_wrap_activess{
	width: 35%;
	
	float: left;
	margin-left: 50px;
	text-align: left;
	height: 100%;
	position: relative;
	padding-right: 20px;
=======
.block_wrap_bask_tover p {
    margin: 0;
}
.block_wrap_bask_tover{

    width: 100%;
    margin-top: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
    position: relative;
    display: table; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
.block_left{

    width: 100%;
    display: inline-block;
    vertical-align: middle;
    display: table-cell;

}
.block_left_top{
    text-align: right;
}

.delete_tovar_bask{
    width: 20px;
    height: 20px;
    opacity: 0.7;
    position: absolute;

    left: 0;
    top :50%;
    margin-top: -10px;
    cursor: pointer;
    margin-left: 10px;
}
.block_wrap_activess{
    width: 35%;

    float: left;
    margin-left: 50px;
    text-align: left;
    height: 100%;
    position: relative;
    padding-right: 20px;
>>>>>>> master

}

.basket_tovar_postav_name{
<<<<<<< HEAD
	padding: 30px 0;cursor: pointer;
	padding-left: 0px;
	font-family: "Circe_Regular";
	font-size: 16px;
	float: left;
	padding-top: 34px;
	padding-right: 15px;

}
.basket_tovar_postav_name span{
	display: inline-block;
	border-bottom: 1px dashed #97999D;
}
.active_tov{
	position: absolute;
	cursor: pointer;
	
	margin-top: 35px;
}
.but_date{

	width: 140px;
	height: 40px;
	
	border: 1px solid #CACCCD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	background: #fff;
	color: #95989A;
	font-family: "Circe_Regular";
	background-image: url("../img/date_icon.png");
	background-repeat: no-repeat;
	background-position: 7px center;
	font-size: 15px;
	padding-left: 28px;
	margin-top: 25px;
	margin-right: 10px;
}
.but_date:hover{
opacity: 0.6;
}
.but_comments{
	width: 190px;
	height: 40px;
	margin: 5px 0;
	margin-right: 10px;
	border: 1px solid #CACCCD;
	outline: none;
	background: #EEEEEF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	background-image: url("../img/comments_icon.png");
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 30px;
	font-family: "Circe_Regular";
	font-size: 15px;
}
.but_comments:hover{
	opacity: 0.6;
}

.but_go_zakaz{
	width: 130px;
	height: 40px;
	margin: 5px 0;
	margin-right: 10px;
	background-color: #82C073;
	color: #fff;
	font-family: "Circe_Regular";
	border: 1px solid #6CA35F;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	font-size: 15px;
}
.but_go_zakaz:hover{
	opacity: 0.6;
}
.block_right_wrap{
	padding-left: 10px;
	padding-right: 10px;
}
.block_right{
	min-width: 200px;
	width: 200px;
	vertical-align: middle;
	border-left: 1px solid #EBEBEB;
	display: inline-block;
	display: table-cell;
}

.block_right p span{
	font-size: 28px;
	font-weight: bold;
	font-family: 'PT Sans', serif;
}
.block_right p {
	font-family: "Circe_Regular";
	font-size: 20px;
	display: block;
}
.block_left_bot{
	display: none;
	border-top: 1px solid #EBEBEB;
	width: 100%;

}
.block_left_bot_left{
	width: 50%;
	float: left;
	padding-top: 10px;

	padding-left: 10px;

}
.img_product {
	margin-left: 40px;
	float: left;
	width: 130px;
        height: 136px;
	padding-right: 30px;
}
.block_left_bot_left_name{
	font-family: "Circe_Regular";
	color: #82C073;
	text-decoration: underline;
	font-size: 20px;

}
.block_left_bot_left_art{
	font-family: "Circe_Regular";
	color: #95989A;
	float: left;
	margin-top: 4px;
}
.izbranoe{
	margin-left: 20px;
	margin-top: 5px;
	float: left;
	padding-right: 8px;

}
.izbranoe_p{
	font-family: "Circe_Regular";
	border-bottom: 1px dashed #6C6F75;
	color: #3f3e3e;
	font-size: 14px;
}
.kr_p{
	font-family: "Circe_Regular";
	float: none;
	color: #95989A;
	padding-top: 7px;

	line-height: 20px;

}
.but_com{
	border: none;
	outline: none;
	background-color: #31353D;
	color: #fff;
	font-family: "Circe_Regular";
	width: 200px;
	height: 40px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	margin-top: 20px;
	background-image: url("../img/coments_icon_f.png");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding-left: 20px;
	font-size: 15px;
}
.but_com:hover{
	opacity: 0.6;
}
.block_chek_kolvo{
	width: 100px;
	height: 35px;
	border: 1px solid #F2F2F2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
	margin-right: 70px;
}
.left_arrow{
	display: inline-block;
	height: 100%;
	width: 20px;
	cursor: pointer;
}
.right_arrow{
	display: inline-block;
	height: 100%;
	width: 20px;
	
	padding: 0;
	margin: 0;
	cursor: pointer;
	
}
.inp_chek{
	width: 32px;
	padding: 0;
	margin:0;
	height: 100%;
	margin-left: 7px;
margin-right: 7px;
outline: none;
border: none;
text-align: center;
=======
    padding: 30px 0;cursor: pointer;
    padding-left: 0px;
    font-family: "Circe_Regular";
    font-size: 16px;
    float: left;
    padding-top: 34px;
    padding-right: 15px;

}
.basket_tovar_postav_name span{
    display: inline-block;
    border-bottom: 1px dashed #97999D;
}
.active_tov{
    position: absolute;
    cursor: pointer;

    margin-top: 35px;
}
.but_date{

    width: 140px;
    height: 40px;

    border: 1px solid #CACCCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    background: #fff;
    color: #95989A;
    font-family: "Circe_Regular";
    background-image: url("../img/date_icon.png");
    background-repeat: no-repeat;
    background-position: 7px center;
    font-size: 15px;
    padding-left: 28px;
    margin-top: 25px;
    margin-right: 10px;
}
.but_date:hover{
    opacity: 0.6;
}
.but_comments{
    width: 190px;
    height: 40px;
    margin: 5px 0;
    margin-right: 10px;
    border: 1px solid #CACCCD;
    outline: none;
    background: #EEEEEF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #000;
    background-image: url("../img/comments_icon.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px;
    font-family: "Circe_Regular";
    font-size: 15px;
}
.but_comments:hover{
    opacity: 0.6;
}

.but_go_zakaz{
    width: 130px;
    height: 40px;
    margin: 5px 0;
    margin-right: 10px;
    background-color: #82C073;
    color: #fff;
    font-family: "Circe_Regular";
    border: 1px solid #6CA35F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
}
.but_go_zakaz:hover{
    opacity: 0.6;
}
.block_right_wrap{
    padding-left: 10px;
    padding-right: 10px;
}
.block_right{
    min-width: 200px;
    width: 200px;
    vertical-align: middle;
    border-left: 1px solid #EBEBEB;
    display: inline-block;
    display: table-cell;
}

.block_right p span{
    font-size: 28px;
    font-weight: bold;
    font-family: 'PT Sans', serif;
}
.block_right p {
    font-family: "Circe_Regular";
    font-size: 20px;
    display: block;
}
.block_left_bot{
    display: none;
    border-top: 1px solid #EBEBEB;
    width: 100%;

}
.block_left_bot_left{
    width: 50%;
    float: left;
    padding-top: 10px;

    padding-left: 10px;

}
.img_product {
    margin-left: 40px;
    float: left;
    width: 130px;
    height: 136px;
    padding-right: 30px;
}
.block_left_bot_left_name{
    font-family: "Circe_Regular";
    color: #82C073;
    text-decoration: underline;
    font-size: 20px;

}
.block_left_bot_left_art{
    font-family: "Circe_Regular";
    color: #95989A;
    float: left;
    margin-top: 4px;
}
.izbranoe{
    margin-left: 20px;
    margin-top: 5px;
    float: left;
    padding-right: 8px;

}
.izbranoe_p{
    font-family: "Circe_Regular";
    border-bottom: 1px dashed #6C6F75;
    color: #3f3e3e;
    font-size: 14px;
}
.kr_p{
    font-family: "Circe_Regular";
    float: none;
    color: #95989A;
    padding-top: 7px;

    line-height: 20px;

}
.but_com{
    border: none;
    outline: none;
    background-color: #31353D;
    color: #fff;
    font-family: "Circe_Regular";
    width: 200px;
    height: 40px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    margin-top: 20px;
    background-image: url("../img/coments_icon_f.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 20px;
    font-size: 15px;
}
.but_com:hover{
    opacity: 0.6;
}
.block_chek_kolvo{
    width: 100px;
    height: 35px;
    border: 1px solid #F2F2F2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 70px;
}
.left_arrow{
    display: inline-block;
    height: 100%;
    width: 20px;
    cursor: pointer;
}
.right_arrow{
    display: inline-block;
    height: 100%;
    width: 20px;

    padding: 0;
    margin: 0;
    cursor: pointer;

}
.inp_chek{
    width: 32px;
    padding: 0;
    margin:0;
    height: 100%;
    margin-left: 7px;
    margin-right: 7px;
    outline: none;
    border: none;
    text-align: center;
>>>>>>> master


}
.block_cena{
<<<<<<< HEAD
padding: 10px;
position: relative;
float: right;
top: 0;
=======
    padding: 10px;
    position: relative;
    float: right;
    top: 0;
>>>>>>> master


}
.delete_tovar1{
<<<<<<< HEAD
	
  position: absolute;
  top: 0;
  margin-top: 20px;
  right: 15px;
 
  cursor: pointer;
}
.delete_tovar1:hover{
	opacity: 0.6;
}
.block_cena_p{
	font-family: "Circe_Regular";
	font-size: 28px;
	padding-right: 30px;
	margin-right: 20px;
}
.block_cena_p1{
	color: #95989A;

	font-family: "Circe_Regular";
	font-size: 16px;
}
.block_right_wrap_1{
	display: none;
}
.block_cena_p1 span{
	color: #3f3e3e;
}
.block_right_wrap_1 p{
	color: #95989A;
	font-family: "Circe_Regular";
	font-size: 14px;
		padding-left: 10px;
	padding-right: 10px;

}
.block_right_wrap_1 button{
	width: 170px;
	height: 40px;
	margin: 20px 15px;
	margin-bottom: 0;
	background-color: #82C073;
	color: #fff;
	font-family: "Circe_Regular";
	border: 1px solid #6CA35F;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	font-size: 17px;

}
.block_right_wrap_1 button:hover{
	opacity: 0.6;
}

.block_wrap_bask_tover.active .delete_tovar_bask {
	display: none;
}
.block_wrap_bask_tover.active .but_go_zakaz {
	display: none;
}
.block_wrap_bask_tover.active .block_right_wrap_1 {
	display: block;
}
.block_wrap_bask_tover.active .block_left_bot {
	display: inline-block;
}
.block_wrap_bask_tover.active .active_tov {
	    -webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
=======

    position: absolute;
    top: 0;
    margin-top: 20px;
    right: 15px;

    cursor: pointer;
}
.delete_tovar1:hover{
    opacity: 0.6;
}
.block_cena_p{
    font-family: "Circe_Regular";
    font-size: 28px;
    padding-right: 30px;
    margin-right: 20px;
}
.block_cena_p1{
    color: #95989A;

    font-family: "Circe_Regular";
    font-size: 16px;
}
.block_right_wrap_1{
    display: none;
}
.block_cena_p1 span{
    color: #3f3e3e;
}
.block_right_wrap_1 p{
    color: #95989A;
    font-family: "Circe_Regular";
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;

}
.block_right_wrap_1 button{
    width: 170px;
    height: 40px;
    margin: 20px 15px;
    margin-bottom: 0;
    background-color: #82C073;
    color: #fff;
    font-family: "Circe_Regular";
    border: 1px solid #6CA35F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    font-size: 17px;

}
.block_right_wrap_1 button:hover{
    opacity: 0.6;
}

.block_wrap_bask_tover.active .delete_tovar_bask {
    display: none;
}
.block_wrap_bask_tover.active .but_go_zakaz {
    display: none;
}
.block_wrap_bask_tover.active .block_right_wrap_1 {
    display: block;
}
.block_wrap_bask_tover.active .block_left_bot {
    display: inline-block;
}
.block_wrap_bask_tover.active .active_tov {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
>>>>>>> master

}


@media (max-width: 1350px) {
<<<<<<< HEAD
.block_wrap_activess{
	width: 24%;
	float: left;
	margin-left: 50px;
	text-align: left;
	height: 100%;
	position: relative;
	padding-right: 20px;

}
.block_left_bot_left{
	width: 50%;
	float: left;
	padding-top: 10px;

	padding-left: 10px;


}
.img_product {
	margin-left: 40px;
	float: left;
	width: 130px;
	padding-right: 30px;
}
.block_left_bot_left_name{
	font-size: 16px;

}
.block_left_bot_left_art{
	font-family: "Circe_Regular";
	color: #95989A;
	float: none;
	margin-top: 4px;

}
.izbranoe{
	margin-left: 0px;
	margin-top: 5px;
	float: left;
	padding-right: 8px;

}
.izbranoe_p{
	font-size: 14px;
}
.kr_p{
	padding-top: 7px;


}
.but_com{
	width: 180px;
	height: 40px;
	margin-top: 8px;
	background-position: 10px 10px;
	padding-left: 20px;
	font-size: 13px;
}
.block_cena_p{
	font-family: "Circe_Regular";
	font-size: 22px;
	padding-right: 30px;
	margin-right: 10px;
}
.block_cena_p1{
	color: #95989A;

	font-family: "Circe_Regular";
	font-size: 16px;
}
=======
    .block_wrap_activess{
        width: 24%;
        float: left;
        margin-left: 50px;
        text-align: left;
        height: 100%;
        position: relative;
        padding-right: 20px;

    }
    .block_left_bot_left{
        width: 50%;
        float: left;
        padding-top: 10px;

        padding-left: 10px;


    }
    .img_product {
        margin-left: 40px;
        float: left;
        width: 130px;
        padding-right: 30px;
    }
    .block_left_bot_left_name{
        font-size: 16px;

    }
    .block_left_bot_left_art{
        font-family: "Circe_Regular";
        color: #95989A;
        float: none;
        margin-top: 4px;

    }
    .izbranoe{
        margin-left: 0px;
        margin-top: 5px;
        float: left;
        padding-right: 8px;

    }
    .izbranoe_p{
        font-size: 14px;
    }
    .kr_p{
        padding-top: 7px;


    }
    .but_com{
        width: 180px;
        height: 40px;
        margin-top: 8px;
        background-position: 10px 10px;
        padding-left: 20px;
        font-size: 13px;
    }
    .block_cena_p{
        font-family: "Circe_Regular";
        font-size: 22px;
        padding-right: 30px;
        margin-right: 10px;
    }
    .block_cena_p1{
        color: #95989A;

        font-family: "Circe_Regular";
        font-size: 16px;
    }
>>>>>>> master
}