/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.09.2016, 14:31:49
    Author     : ilia
*/
@import (reference) "../../../vendor/almasaeed2010/adminlte/build/less/AdminLTE.less";
@import (reference) "variables.less";
/*
 * Core: General Layout Style
 * -------------------------
 */

html,
body {
    min-height: 100%;
    .layout-boxed & {
        height: 100%;
    }
}

body {
    font-family: @font-family-base;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: @font-family-base;
}


.skin-blue {
    //Navbar
    .main-header {
        .navbar {
            background-color: @light-green-fk;

            /*.navbar-variant(@light-blue-fk; #fff);*/
            .sidebar-toggle {
                color: #fff;
                &:hover {
                    background-color: darken(@light-green-fk, 5%);
                }
            }
            .nav>li>a {
                color: #fff;
            }
            .nav>li>a:hover {
                background-color: @light-blue-fk;
                color: lighten(@sidebar-dark-bg, 0%);
            }
            @media (max-width: @screen-header-collapse) {
                .dropdown-menu {
                    li {
                        &.divider {
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                        a {
                            color: #fff;
                            &:hover {
                                background: darken(@light-blue-fk, 5%);
                            }
                        }
                    }
                }
            }
        }
        //Logo
        .logo {
            .logo-variant(#6ea262);
        }

        li.user-header {
            background-color: @light-blue-fk;
        }
    }

    /*    .sidebar-menu > li.active > a {
            border-left: none;
            background: @dark-green-fk !important;
        }
    
        .sidebar-menu > li > a {
            color: rgba(216, 215, 215, 0.6);
        }*/

    //Content Header
    .content-header {
        background: transparent;
    }

    //Create the sidebar skin
    .skin-dark-sidebar(@light-blue-fk);
}
.user-panel>.info>small {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}
a {
    color: @dark-green-fk;
}

.content-wrapper .right-side {
    background-color: #fefefe;
}
.handsontable thead th {
    background-color: @sidebar-dark-bg;
    color: #fff;
    padding:3px 0;
}
.handsontable tbody th {
    background-color: rgba(63,62,62,0.1);
    color: #555;
}
.handsontable th, .handsontable td{
    vertical-align:middle;
}
.handsontable tbody td{vertical-align:middle;}
.handsontable th:last-child{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;    
}
.handsontable tr:first-child th, .handsontable tr:first-child td{
    border-top:1px solid #ccc;   
}
.handsontable th:first-child, .handsontable td:first-of-type, .handsontable .htNoFrame + th, .handsontable .htNoFrame + td {
    border-left: 1px solid #ccc;
}
#CreateCatalog{
    border-bottom:1px solid #ccc;
}
#yii-debug-toolbar{position:absolute;left:9999px}
.modal-header{
    background:@fk-success;
    color:#fff;
    text-transform: uppercase;
    border-bottom: 0;
    text-align:center;
}
.modal-body{
    font:bold;
    background:#fff; 
    border:0;    
}
.modal-footer{
    background:#eee;
    border-top: 0;
}

//DANGER style
.modal.danger-fk .modal-header{
    background:@fk-danger;  
    text-transform: uppercase;
}
.modal.danger-fk .modal-body{
    background:#fff; 
    text-align:center;
    font-size:20px;
    border:0;
}
.modal.danger-fk .modal-footer{
    background:#fff; 
    text-align:center;
    border:0;
}
//SUCCESS style
.modal.success-fk .modal-header{
    background:@fk-success;  
    text-transform: uppercase;
}
.modal.success-fk .modal-body{
    font:bold;
    background:#fff; 
    text-align:center;
    font-size:20px;
    border:0;
}
.modal.success-fk .modal-footer{
    background:#fff; 
    text-align:center;
    border:0;
}

.bootbox-confirm .modal-body{
    text-align:center;   
}
.bootbox-confirm .modal-footer{
    text-align:center;   
    background:#fff;
}
.cbx-krajee-flatblue .cbx-active {
    color: #378a5f;
}
.cbx-krajee-flatblue .cbx-active:hover, .cbx-krajee-flatblue .cbx-active:focus {
    border-color: #378a5f;
}
.cbx-krajee-flatblue .cbx-active:focus {
    color: #378a5f;
}
.text-success-fk{
    color:#378a5f;    
}

.handsontable .htAutocompleteArrow {
    color: @sidebar-dark-bg;
    cursor: pointer;
}
.handsontable.listbox tr:hover{
    background: #eee;
}
.ht_master tr > td.current {
    background-color: #000;
}
.cbx-lg {
    border-radius: 4px;
    width: 25px;
    height: 25px;
    font-size: 15px;
}
.box.box-info {
    border-top-color: @light-green-fk;
}
.hpanel .panel-body {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    position: relative;
    padding: 4px;
}
.panel-body {padding: 15px;}
.m-t {
    margin-top: 18px;
}
.btn-fk-success {
    background-color: @fk-success;
    border-color: darken(@fk-success,12%);
    color:#fff;
}
.btn-fk-success:hover {
    background-color: darken(@fk-success,12%);
    border-color: darken(@fk-success,19%);
    color:#fff;
}
.system > .direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #dd4b39;
    border: 1px solid #dd4b39;
    margin: 5px 0 0 5px;
    color: #fff;
}
.system > .direct-chat-text:after, 
.system > .direct-chat-text:before {
    border-right-color: #dd4b39;
}
.btn-sm, .btn-group-sm > .btn {
    font-size: 13px;
}

.callout.callout-fk-info{
    background-color: #ecf0f5 !important;
    color: @sidebar-dark-bg !important;
    border-color: #f39c12;
}
/*.alert.alert-fk-info{
    background-color: #ecf0f5 !important;
    color: @sidebar-dark-bg !important;
    border-color: #f39c12; 
}*/
.fk-tab.nav-tabs > li> a{
    border: none; 
    background: #ecf0f5;
    color:#ccc;
    border-radius:3px;
    margin-right:5px;
}
.fk-tab.nav-tabs > li>a:hover{
    color:darken(#ccc,12%);
}
.fk-tab.nav-tabs > li.active > a{
    border: none; 
    background: #f39c12;
    color:#fff;
    font-weight: bold;
    border-radius:3px;
}
.fk-button{
    border: none; 
    background-color: #84bf76;
    color:#fff;
    font-weight: bold;
    border-radius:3px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
}
.fk-button:hover{
    color: #fff;
    background-color: lighten(@light-blue-fk,5%);
}
.fk-tab.nav-tabs > li > a:hover {
    margin-right: 5px;
}
.fk-tab.nav-tabs {
    border-bottom: none;
}
.fk-prev-next {
    list-style-type:none;
    margin-bottom:-1px;

}
.fk-prev-next li{
    display:inline-block;
    //float:left;
}

.fk-prev-next > li> a{
    display:block;
    border: none; 
    background: #ecf0f5;
    color:#ccc;
    border-radius:3px;
    margin-right:5px;
    padding: 10px 15px;
}
.fk-prev-next .fk-prev > a{
    //border:1px solid #ddd;
    background-color: #f4f4f4;
    font-weight:bold;
    color: lighten(@sidebar-dark-bg,30%); 
}
.fk-prev-next .fk-next > a{
    //border:1px solid #ddd;
    background-color: @fk-success;
    color: #fff;  
    font-weight:bold;
}
label {
    font-weight: normal;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: @light-green-fk;
}
.settings .box-info {
    border-top: 0px;
}
.form-control {
    border-radius: 5px;
}
.on-works {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    //background: url(../images/background_n.png) repeat right center;
}

.mehs-img {
    display: block;
    background: url(../images/background-2.png) no-repeat center center;
    opacity: 0.2;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.logo-on-works {
    position: absolute;;
    top: 36%;
    left: 32%;
    right: 32%;
    z-index: 20;
    height: auto;
}

.logo-on-works img {
    width: 100%;
    height: auto;
    min-height: 59px;
    min-width: 208px;
    display: block;
}

.logo-on-works p {
    /*font-family: 'Open Sans', sans-serif;*/
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    margin-top: 30px;
    line-height: 1.6;
}

@media (max-width: 600px) {
    .logo-on-works {
        position: absolute;;
        top: 36%;
        left: 12%;
        right: 12%;
        z-index: 20;
        height: auto;
    }
}
.info-box-content {
    padding: 22px 10px;
    margin-left: 0;
    text-align: center;
    margin-top: 0;
    color: #3f3e3e;
}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #f1f0ee;
    //background: url(../images/background_n.png) repeat right center;
    z-index: 800;
}
.grid-prod {
    color: @dark-green-fk;
    font-size: 15px;
    font-weight: bold;
}
.grid-article {
    font-size: 12px;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
    color: #fff;
    background: @light-green-fk;
}
#orders .btn-danger,
.checkout-header .btn-danger,
.checkout .btn-danger {
    color: #d9534f;
    border-color: #d43f3a;
}
#orders .btn-danger:hover, 
#orders .btn-danger:focus, 
#orders .btn-danger:active,
.checkout-header .btn-danger:hover,
.checkout-header .btn-danger:focus,
.checkout-header .btn-danger:active,
.checkout .btn-danger:hover,
.checkout .btn-danger:focus,
.checkout .btn-danger:active {
    color: #eee;
    border-color: #d43f3a;
}
.checkout .comment {
    background-color: #fff;
}
.checkout .comment:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
}
.checkout-header .total-cart {
    color: @dark-green-fk;
    border-color: @dark-green-fk;
    background-color: #fff;
    border: 1px solid @light-green-fk;
}
.checkout-header .total-cart:hover,
.checkout-header .total-cart:focus,
.checkout-header .total-cart:active {
    color: #eee;
}
#orderHistory {
    padding-left: 17px;
    padding-right: 17px;
}
.order-history .info-box {
    box-shadow: 0 1px 9px rgba(0,0,0,0.1);
}
.order-history .info-box-number {
    font-size: 22px;
}
.order-history .box-header {
    padding-left: 25px;
    padding-right: 25px;
}
.padding-right-15 {
    padding-right: 15px;
}
.margin-right-15 {
    margin-right: 15px;
}
.margin-right-5 {
    margin-right: 5px;
}
.order-history .form-group {
    padding-right: 35px;
}
.order-history .input-group.input-daterange .input-group-addon {
    border-left: 0;
}
.order-history .control-label {
    padding-right: 3px;
}
.form-control:focus {
    border-color: @light-green-fk;
}
.datepicker table tr td.active.active {
    background-color: @light-green-fk;
}
.datepicker table tr td.active.active:hover {
    background-color: @dark-green-fk;
}

a {
    color: @dark-green-fk;
}
a:hover {
    color: @light-green-fk;
}
.content-header>.breadcrumb>li>a {
    color: @dark-green-fk;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
.content-header>.breadcrumb>li>a:hover {
    color: @light-green-fk;
    text-decoration: none;
    display: inline-block;
}

.content-wrapper .right-side {
    background-color: #fefefe;
}
th > a {
    color: #3f3e3e;
}
th > a:hover {
    color: @light-green-fk;
}
.table.dataTable,
.form-control {
    border-radius: 3px;
}
.table {
    font-size: 13px;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: @light-green-fk;
    border-color: @light-green-fk;
}
.status.new {
    color: #f39c12;
}
.status.processing {
    color: #00c0ef;
}
.status.done {
    color: #00a65a;
}
.status.cancelled {
    color: #dd4b39;
}
.not-set {
    font-style: normal;
}
.box.box-info {
    border-top-color: @light-green-fk;
}
label {
    font-weight: normal;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0;
}
.width150 {
    width: 150px;
}
.width175 {
    width: 175px;
}
.btn-success {
    background-color: @light-green-fk;
    border: 1px solid @light-green-fk;
}
.btn-success:hover {
    background-color: darken(@light-green-fk, 10%);
    border: 1px solid darken(@light-green-fk, 10%);
}
.label-success {
    background-color: @light-green-fk !important;
}
.btn-gray {
    background-color: @gray-fk;
    color: #fff;
}
.btn-gray:hover {
    background-color: lighten(@gray-fk, 10%);
    color: #fff;
}
.kv-editable-link {
    color: @dark-green-fk;
}
.direct-chat-text {
    margin-left: 5px;
}
.right .direct-chat-text {
    margin-right: 5px;
}
.direct-chat-name {    
    font-weight: 600;    
    padding-left: 8px;    
    padding-right: 8px;
}
.btn-outline-danger {
    color: #d9534f;
    background-image: none;
    background-color: transparent;
    border-color: #d9534f;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
.text-light-green {
    color: @light-green-fk;
}
.sidebar-menu li.active>a>.pull-right-container>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.skin-blue .main-header .navbar .nav>li>a:hover {
    background: rgba(0,0,0,0.1);
    color: #f6f6f6;
}
.alert {
    border: 0;
    padding: 20px 30px;
    z-index: 999999;
    font-size: 16px;
    font-weight: 600;    
    border-radius: 0;
    a {
        margin-top: -5px; 
        border: 0px; 
        box-shadow: none; 
        color: rgb(243, 156, 18); 
        font-weight: 600; 
        background: rgb(255, 255, 255);
        text-decoration: none;
        margin-left: 15px;
    }
    a:hover, a:focus, a:active {
        color: rgb(243, 156, 18); 
        background: rgb(255, 255, 255);
    }
}
.input-group .input-group-addon {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.input-group .kv-date-remove {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sidebar-mini.sidebar-collapse .invite-form {
    display:none;
}

.btn-outline-success {
    color: @light-green-fk;
    background-image: none;
    background-color: transparent;
    border-color: @light-green-fk;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: @dark-green-fk;
    border-color: @dark-green-fk;
}
.btn-outline-default {
    color: #444;
    background-image: none;
    background-color: transparent;
    border-color: #ddd;
}
.btn-outline-default:hover {
    color: #fff;
    background-color: #ddd;
    border-color: #ddd;
}
.table {  
    th {  
        a {
            &:after {
                opacity: 0.3;
                content: "\e150";
                display: inline-block;
                float: right;
                font-family: 'Glyphicons Halflings';
            }
        }
        .asc {
            &:after {
                opacity: 1;
                content: "\e155";
            }
        }
        .desc {
            &:after {
                opacity: 1;
                content: "\e156";
            }
        }
    }
}
.text-success{color:@light-green-fk;}
.text-yellow{color:#f39c12;}
.text-primary{color:#3c8dbc;}
.text-danger{color:#dd4b39;}
