/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.09.2016, 14:31:49
    Author     : ilia
*/
@import (reference) "../../../vendor/almasaeed2010/adminlte/build/less/AdminLTE.less";
@import (reference) "variables.less";

/*
 * Core: General Layout Style
 * -------------------------
 */
@font-face {
    font-family: 'Circe-Bold';
    src: url('https://static.mixcart.ru/fonts/circe/Circe_Bold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://static.mixcart.ru/fonts/circe/Circe-Bold.woff') format('woff'),
        url('https://static.mixcart.ru/fonts/circe/Circe-Bold.ttf') format('truetype'),
        url('https://static.mixcart.ru/fonts/circe/Circe-Bold.svg#Circe-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe-Regular';
    src: url('https://static.mixcart.ru/fonts/circe/Circe_Regular/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://static.mixcart.ru/fonts/circe/Circe_Regular/Circe-Regular.woff') format('woff'),
        url('https://static.mixcart.ru/fonts/circe/Circe_Regular/Circe-Regular.ttf') format('truetype'),
        url('https://static.mixcart.ru/fonts/circe/Circe_Regular/Circe-Regular.svg#Circe-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe-Light';
    src: url('https://static.mixcart.ru/fonts/circe/Circe_Light/Circe-Light.eot?#iefix') format('embedded-opentype'),
        url('https://static.mixcart.ru/fonts/circe/Circe_Light/Circe-Light.woff') format('woff'),
        url('https://static.mixcart.ru/fonts/circe/Circe_Light/Circe-Light.ttf') format('truetype'),
        url('https://static.mixcart.ru/fonts/circe/Circe_Light/Circe-Light.svg#Circe-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,
body {
    min-height: 100%;
    .layout-boxed & {
        height: 100%;
    }
}

body {
    font-family: @font-family-base;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: @font-family-base;
}


.skin-blue {
    //Navbar
    .main-header {
        .navbar {
            background-color: @light-green-fk;

            /*.navbar-variant(@light-blue-fk; #fff);*/
            .sidebar-toggle {
                color: #fff;
                &:hover {
                    background-color: darken(@light-green-fk, 5%);
                }
            }
            .nav>li>a {
                color: #fff;
            }
            .nav>li>a:hover {
                background-color: @light-blue-fk;
                color: lighten(@sidebar-dark-bg, 0%);
            }
            @media (max-width: @screen-header-collapse) {
                .dropdown-menu {
                    li {
                        &.divider {
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                        a {
                            color: #fff;
                            &:hover {
                                background: darken(@light-blue-fk, 5%);
                            }
                        }
                    }
                }
            }
        }
        //Logo
        .logo {
            .logo-variant(#6ea262);
        }

        li.user-header {
            background-color: @light-blue-fk;
        }
    }

    /*    .sidebar-menu > li.active > a {
            border-left: none;
            background: @dark-green-fk !important;
        }
    
        .sidebar-menu > li > a {
            color: rgba(216, 215, 215, 0.6);
        }*/

    //Content Header
    .content-header {
        background: transparent;
    }

    //Create the sidebar skin
    .skin-dark-sidebar(@light-blue-fk);
}
.user-panel>.info>small {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}
a {
    color: @dark-green-fk;
}

.content-wrapper .right-side {
    background-color: #fefefe;
}
.handsontable thead th {
    background-color: #ecf0f5;
    color: @sidebar-dark-bg;
    padding:3px 0;
}
.handsontable tbody th {
    background-color: #ecf0f5;
    color: #555;
}
.handsontable th, .handsontable td{
    vertical-align:middle;
}
.handsontable tbody td{vertical-align:middle;}
.handsontable th:last-child{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;    
}
.handsontable tr:first-child th, .handsontable tr:first-child td{
    border-top:1px solid #ccc;   
}
.handsontable th:first-child, .handsontable td:first-of-type, .handsontable .htNoFrame + th, .handsontable .htNoFrame + td {
    border-left: 1px solid #ccc;
}
#CreateCatalog{
    border-bottom:1px solid #ccc;
}
#yii-debug-toolbar{position:absolute;left:9999px}
.modal-header{
    background:@fk-success;
    color:#fff;
    text-transform: uppercase;
    border-bottom: 0;
    text-align:center;
}
.modal-body{
    font:bold;
    background:#fff; 
    border:0;    
}
.modal-footer{
    background:#eee;
    border-top: 0;
}

//DANGER style
.modal.danger-fk .modal-header{
    background:@fk-danger;  
    text-transform: uppercase;
}
.modal.danger-fk .modal-body{
    background:#fff; 
    text-align:center;
    font-size:20px;
    border:0;
}
.modal.danger-fk .modal-footer{
    background:#fff; 
    text-align:center;
    border:0;
}
//SUCCESS style
.modal.success-fk .modal-header{
    background:@fk-success;  
    text-transform: uppercase;
}
.modal.success-fk .modal-body{
    font:bold;
    background:#fff; 
    text-align:center;
    font-size:20px;
    border:0;
}
.modal.success-fk .modal-footer{
    background:#fff; 
    text-align:center;
    border:0;
}

.bootbox-confirm .modal-body{
    text-align:center;   
}
.bootbox-confirm .modal-footer{
    text-align:center;   
    background:#fff;
}
.cbx-krajee-flatblue .cbx-active {
    color: #378a5f;
}
.cbx-krajee-flatblue .cbx-active:hover, .cbx-krajee-flatblue .cbx-active:focus {
    border-color: #378a5f;
}
.cbx-krajee-flatblue .cbx-active:focus {
    color: #378a5f;
}
.text-success-fk{
    color:#378a5f;    
}

.handsontable .htAutocompleteArrow {
    color: @sidebar-dark-bg;
    cursor: pointer;
}
.handsontable.listbox tr:hover{
    background: #eee;
}
.cbx-lg {
    border-radius: 4px;
    width: 25px;
    height: 25px;
    font-size: 15px;
}
.box.box-info {
    border-top-color: @light-green-fk;
}
.box-order-content {
    border-top-width: 0;
    -webkit-box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.41);
}
.hpanel .panel-body {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    position: relative;
    padding: 4px;
}
.panel-body {padding: 15px;}
.m-t {
    margin-top: 18px;
}
.btn-fk-success {
    background-color: @fk-success;
    border-color: darken(@fk-success,12%);
    color:#fff;
}
.btn-fk-success:hover {
    background-color: darken(@fk-success,12%);
    border-color: darken(@fk-success,19%);
    color:#fff;
}
.system > .direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #f39c12;
    border: 1px solid #f39c12;
    margin: 5px 0 0 5px;
    color: #fff;
}
.system > .direct-chat-text:after, 
.system > .direct-chat-text:before {
    border-right-color: #f39c12;
}
.system-danger > .direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #dd4b39;
    border: 1px solid #dd4b39;
    margin: 5px 0 0 5px;
    color: #fff;
}
.system-danger > .direct-chat-text:after, 
.system-danger > .direct-chat-text:before {
    border-right-color: #dd4b39;
}
.btn-sm, .btn-group-sm > .btn {
    font-size: 13px;
}

.callout.callout-fk-info{
    background-color: #ecf0f5 !important;
    color: @sidebar-dark-bg !important;
    border-color: #f39c12;
}
/*.alert.alert-fk-info{
    background-color: #ecf0f5 !important;
    color: @sidebar-dark-bg !important;
    border-color: #f39c12; 
}*/
.fk-tab.nav-tabs > li> a, .fk-tab.nav-tabs > li> button {
    border: none; 
    background: #ecf0f5;
    color:#ccc;
    border-radius:3px;
    margin-right:5px;
}
.fk-tab.nav-tabs > li>a:hover{
    color:darken(#ccc,12%);
    background: #ecf0f5;
}
.fk-tab.nav-tabs > li.active > a{
    border: none; 
    background: #f39c12;
    color:#fff;
    font-weight: bold;
    border-radius:3px;
}
.fk-button{
    border: none; 
    background-color: #84bf76;
    color:#fff;
    font-weight: bold;
    border-radius:3px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
}
.fk-button:hover{
    color: #fff;
    background-color: lighten(@light-blue-fk,5%);
}
.fk-tab.nav-tabs > li > a:hover {
    margin-right: 5px;
}
.fk-tab.nav-tabs {
    border-bottom: none;
}
.fk-prev-next {
    list-style-type:none;
    margin-bottom:-1px;

}
.fk-prev-next li{
    display:inline-block;
    //float:left;
}

.fk-prev-next > li> a, .fk-prev-next > li> button{
    display:block;
    border: none; 
    background: #ecf0f5;
    color:#ccc;
    border-radius:3px;
    margin-right:5px;
    padding: 10px 15px;
}
.fk-prev-next .fk-prev > a{
    //border:1px solid #ddd;
    background-color: #f4f4f4;
    font-weight:bold;
    color: lighten(@sidebar-dark-bg,30%); 
}
.fk-prev-next .fk-next > a, .fk-prev-next .fk-next > button {
    //border:1px solid #ddd;
    background-color: @fk-success;
    color: #fff;  
    font-weight:bold;
}
label {
    font-weight: normal;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: @light-green-fk;
}
.settings .box-info {
    border-top: 0px;
}
.form-control {
    border-radius: 5px;
}
.on-works {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    //background: url(../images/background_n.png) repeat right center;
}

.mehs-img {
    display: block;
    background: url(../images/background-2.png) no-repeat center center;
    opacity: 0.2;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.logo-on-works {
    position: absolute;;
    top: 36%;
    left: 32%;
    right: 32%;
    z-index: 20;
    height: auto;
}

.logo-on-works img {
    width: 100%;
    height: auto;
    min-height: 59px;
    min-width: 208px;
    display: block;
}

.logo-on-works p {
    /*font-family: 'Open Sans', sans-serif;*/
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    margin-top: 30px;
    line-height: 1.6;
}

@media (max-width: 600px) {
    .logo-on-works {
        position: absolute;;
        top: 36%;
        left: 12%;
        right: 12%;
        z-index: 20;
        height: auto;
    }
}
.info-box-content {
    padding: 22px 10px;
    margin-left: 0;
    text-align: center;
    margin-top: 0;
    color: #3f3e3e;
}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #f1f0ee;
    //background: url(../images/background_n.png) repeat right center;
    z-index: 800;
}
.grid-prod {
    color: @dark-green-fk;
    font-size: 15px;
    font-weight: bold;
}
.grid-article {
    font-size: 12px;
    color: lighten(@gray-fk, 20%);
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
    color: #fff;
    background: @light-green-fk;
}
.checkout {
    .box-title {
        line-height: 1.6;
    }
}
.checkout-header {
    .total-cart {
        color: @dark-green-fk;
        border-color: @dark-green-fk;
        background-color: #fff;
        border: 1px solid @light-green-fk;
    }
    .total-cart:hover,
        .total-cart:focus,
        .total-cart:active {
        color: #eee;
    }}
@media (max-width: 768px) {
    .checkout .date,
    .checkout .create,
    .checkout .comment {
        margin-top: 3px;
    }
}
.order-history .info-box {
    box-shadow: 0 1px 9px rgba(0,0,0,0.1);
}
.order-history .info-box-number {
    font-size: 22px;
}
.order-history .box-header {
    padding-left: 25px;
    padding-right: 25px;
}
.padding-right-15 {
    padding-right: 15px;
}
.margin-right-15 {
    margin-right: 15px;
}
.margin-right-5 {
    margin-right: 5px;
}
.order-history .input-group.input-daterange .input-group-addon {
    border-left: 0;
}
.order-history .control-label {
    padding-right: 3px;
}
.form-control:focus {
    border-color: @light-green-fk;
}
.datepicker table tr td.active.active {
    background-color: @light-green-fk;
}
.datepicker table tr td.active.active:hover {
    background-color: @dark-green-fk;
}
.datepicker table tr td.today {
    background-color: @light-green-fk;
}
.datepicker table tr td.today:hover {
    background-color: @dark-green-fk;
}
a {
    color: @dark-green-fk;
}
a:hover {
    color: @light-green-fk;
}
.content-header>.breadcrumb>li>a {
    color: @dark-green-fk;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
.content-header>.breadcrumb>li>a:hover {
    color: @light-green-fk;
    text-decoration: none;
    display: inline-block;
}

.content-wrapper .right-side {
    background-color: #fefefe;
}
th > a {
    color: #3f3e3e;
}
th > a:hover {
    color: @light-green-fk;
}
.table.dataTable,
.form-control {
    border-radius: 3px;
}
.table {
    font-size: 13px;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: @light-green-fk;
    border-color: @light-green-fk;
}
.status.new {
    color: #f39c12;
}
.status.processing {
    color: #00c0ef;
}
.status.done {
    color: #00a65a;
}
.status.cancelled {
    color: #dd4b39;
}
.not-set {
    font-style: normal;
}
label {
    font-weight: normal;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0;
}
.width70 {
    width: 70px;
}
.width100 {
    width: 100px;
}
.width150 {
    width: 150px;
}
.width175 {
    width: 175px;
}
.btn-success {
    background-color: @light-green-fk;
    border: 1px solid @light-green-fk;
}
.btn-success:hover {
    background-color: darken(@light-green-fk, 10%);
    border: 1px solid darken(@light-green-fk, 10%);
}
.label-success {
    background-color: @light-green-fk !important;
}
.btn-gray, .btn-gray:focus {
    background-color: @gray-fk;
    color: #fff;
}
.btn-gray:hover {
    background-color: lighten(@gray-fk, 10%);
    color: #fff;
}
.kv-editable-link {
    color: @dark-green-fk;
}
.direct-chat-text {
    margin-left: 5px;
    display: inline-block;
}
.right .direct-chat-text {
    margin-right: 5px;
    float: right;
}
.direct-chat-name {    
    font-weight: 600;    
    padding-left: 8px;    
    padding-right: 8px;
}
.btn-outline-danger {
    color: #d9534f;
    background-image: none;
    background-color: transparent;
    border-color: #d9534f;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
.btn-outline-primary {
    color: #3c8dbc;
    background-color: transparent;
    border-color: #3c8dbc;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.btn-outline-processing {
    color: #00c0ef;
    background-color: transparent;
    border-color: #00c0ef;
}
.btn-outline-processing:hover {
    color: #fff;
    background-color: #00c0ef;
    border-color: #00c0ef;
}
.btn-processing {
    color: #fff;
    background-color: #00c0ef;
    border-color: #00c0ef;
}
.btn-processing .badge {
    color: #00c0ef;
    background-color: #fff;
}
.text-light-green {
    color: @light-green-fk;
}
.sidebar-menu li.active>a>.pull-right-container>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.skin-blue .main-header .navbar .nav>li>a:hover {
    background: rgba(0,0,0,0.1);
    color: #f6f6f6;
}
.alert {
    border: 0;
    padding: 20px 30px;
    z-index: 999999;
    font-size: 16px;
    font-weight: 600;    
    border-radius: 0;
    a {
        margin-top: -5px; 
        border: 0px; 
        box-shadow: none; 
        color: rgb(243, 156, 18); 
        font-weight: 600; 
        background: rgb(255, 255, 255);
        text-decoration: none;
        margin-left: 15px;
    }
    a:hover, a:focus, a:active {
        color: rgb(243, 156, 18); 
        background: rgb(255, 255, 255);
    }
}
.input-group .input-group-addon {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.input-group .append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}
.input-group .kv-date-remove {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sidebar-mini.sidebar-collapse #inviteForm {
    display:none;
}

.btn-outline-success {
    color: @light-green-fk;
    background-image: none;
    background-color: transparent;
    border-color: @light-green-fk;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: @dark-green-fk;
    border-color: @dark-green-fk;
}
.btn-outline-default {
    color: #444;
    background-image: none;
    background-color: transparent;
    border-color: #ddd;
}
.btn-outline-default:hover {
    color: #333;
    background-color: #e7e7e7;
    border-color: #adadad;
}
.table {  
    th {  
        a {
            &:after {
                opacity: 0.3;
                content: "\e150";
                display: inline-block;
                float: right;
                font-family: 'Glyphicons Halflings';
            }
        }
        .asc {
            &:after {
                opacity: 1;
                content: "\e155";
            }
        }
        .desc {
            &:after {
                opacity: 1;
                content: "\e156";
            }
        }
    }
}
.select2-container--krajee .select2-results__option[aria-selected=true] {
    color: @dark-green-fk !important;
    background-color: #eeeeee !important;
}
.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
    background-color: @dark-green-fk !important;
    color: #fff !important;
}
.select2-search--inline .select2-search__field:focus {
    outline: none;
    border: 0;
}
.s2-togall-button {
    color: @sidebar-dark-bg !important;
}
.text-success{color:@light-green-fk;}
.text-yellow{color:#f39c12;}
.text-primary{color:#3c8dbc;}
.text-danger{color:#dd4b39;}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 5px 0 5px;
    border-radius: 4px;
}
.form-group {
    margin-bottom: 0px;
}
.direct-chat-success .right>.direct-chat-text {
    background: @light-green-fk;
    border-color: @light-green-fk;
    color: #fff;
}
.direct-chat-success .right>.direct-chat-text:after, .direct-chat-success .right>.direct-chat-text:before {
    border-left-color: @light-green-fk;
}
#message-field {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
@media (min-width: 768px) {
    /*    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
            float: right;
            width: auto!important;
            left: 230px!important;
            top: 10px!important;
        }
        .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
            display: block !important;
            position: absolute;
            width: 210px;
            left: 50px;
        }*/
    .order-history .info-box-number {
        font-size: 18px;
        .fa-rub {
            font-size: 15px;
        }
    }
}
@media (min-width: 768px) and (max-width: 1480px){
    .navbar-form .form-control {
        width: 160px;
    }
    .navbar-form .input-group > .form-control {
        width: 160px;
    }
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: @gray-fk;
}
.main-footer {
    background: #f1f0ee;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}
.bootstrap-touchspin .form-control {
    min-width: 80px;
}
.krajee-datepicker {
    min-width: 120px;
}
@media (max-width: 390px) {
    .krajee-datepicker {
        min-width: 50px;
    }
}
@media (max-width: 768px) {
    .margin-right-15 {
        margin-right: 0;
    }
}
.checkout-action {
    width: 295px;
}
@media (max-width: 1225px) {
    .hidden-fk {
        display: none;
    }
    .checkout-action {
        width: 82px;
    }
}
#actionButtons {
    .status {
        margin-bottom: 15px;
    }
    .btnOrderAction {
        margin-right: 7px;
    }
}
#toPrint {
    .order-table {
        min-width: 600px;
    }
    .kv-grid-container {
        margin-bottom: 30px;
    }
    .tbl-discount {
        td {
            font-size: 14px;
        }
    }
}
#cart {
    .box.box-info {
        border-top-color: @fk-dark;
    }
    .box-info, .box-footer {
        background-color: rgb(249, 249, 249);
    }
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, 
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, 
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    display: block;
    white-space: normal;
    border-bottom: 1px solid #f4f4f4;
}
.loading-indicator {
    background: url( '../images/preloader.gif') !important;
}
.bg-fk-dark {
    background-color: @fk-dark !important;
    color: #d8d7d7;
}
.bg-fk-success {
    background-color: @fk-success !important;
    color: #ffffff !important;
}
.fk-video {
    width: 100%;
}
.cart-order {
    padding: 0;
    .table {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
}
.reorder i {
    font-size: 18px;
}
.org-type {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.09em;
}
.view-data {
    height: 31px;
}
.order-total {
    margin-top: 10px;
    span {
        font-weight: bold;
        font-size: 18px;
    }
}
.current-catalog {
    color: @gray-fk;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
.l-fmarket{

}

.sub-new {
    bottom: 0.75em; 
    margin-left:5px;
    color: @light-green-fk;
}
@media (min-width:768px){
    .modal-big {
        width: 90%; /* desired relative width */
        margin: auto auto auto auto; /* place center */
    }
}
.swal2-confirm {
    background-color: #84bf76 !important;
    border-left-color: #84bf76 !important;
    border-right-color: #84bf76 !important;
}
.swal2-confirm:hover, .swal2-confirm:active, .swal2-confirm:focus {
    background-color: #65af53 !important;
    border-left-color: #65af53 !important;
    border-right-color: #65af53 !important;
}
.swal2-cancel {
    background-color: #3f3e3e !important;
    border-left-color: #3f3e3e !important;
    border-right-color: #3f3e3e !important;
}
.swal2-cancel:hover, .swal2-cancel:active, .swal2-cancel:focus {
    background-color: #595757 !important;
    border-left-color: #595757 !important;
    border-right-color: #595757 !important;
}
.swal2-title, .swal2-content {
    color: #3f3e3e !important;
}
.tutorialize-slide-overlay {
    z-index: 1980;
}
.tutorialize-slide {
    z-index: 1990;
}
.tutorialize-slide-control li:hover {
    background-color: #65af53 !important;
}
.tutorialize-slide-close:hover {
    background-color: #65af53 !important;
}
.welcome-header-image {
    display: block;
    margin: -20px auto 0;
}
.welcome-manager {
    display: block;
    margin: 10px auto;
}
.green-border {
    width: 100%;
    border: 3px solid #84bf76;
    padding-bottom: 10px;
}
.sidebar-mini.sidebar-collapse .personal-manager {
    display: none;
}
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon.woff") format("woff"),
        url("../fonts/Flaticon.ttf") format("truetype"),
        url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-cross-out:before { content: "\f100"; }
.flaticon-cancel:before { content: "\f101"; }

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.glyphicon-left {
    margin-right: 7px;
}
.has-success .cbx-label {
    color: #2b542c !important;
}
/*.content-wrapper {
    background: url(../images/bg.png) repeat !important;
}*/
.nav-tabs-custom {
    background: none !important;
}
.label.bg-yellow{
    font-weight: 200 !important;
    letter-spacing: 0.08em !important;;
}
/*** иконка внутри input ***/
.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}
.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}
.icon-addon.addon-md .glyphicon {
    color: #b7b7b7;
}
/*** --/ иконка внутри input ***/
.g-hr{width:100%;position:relative;padding:2px;border: 1px solid #ccc;}
.btn-outline-default{
    border: 1px solid #A9ABAD; color: #A9ABAD;	
}
.btn-outline-default:hover {
    color: #fff;
    background-color: #A9ABAD;
    border-color: #A9ABAD;
}
.guid{padding-bottom: 40px}
.guid-header{margin-top:10px;}
.guid_block{
    border: 1px solid #DEDEDE;border-radius:4px;height: 100%;max-width:390px;position: relative; padding: 24px;display: inline-block;margin-right: 15px;margin-bottom: 20px
}
.guid_block_title p{color: #3F3E3E;font-size: 18px; font-style: normal;line-height: 22px;}
.guid_block_comment p{color: #95989A;font-size: 11px; font-style: normal;line-height: 13px;}
.guid_block_comment p span{}
.guid_block_counts p{color: #95989A;font-size: 11px; font-style: normal;line-height: 13px;}
.guid_block_counts p span{}
.guid_block_updated p{color: #95989A;font-size: 11px; font-style: normal;line-height: 13px;}
.guid_block_updated p span{}
.guid_block_buttons {margin-top: 20px}

.guid_block_create_title p{color: #3F3E3E;font-size: 14px; font-style: normal;line-height: 17px;margin-top: 8px;}
.guid_block_create_counts p{color: #95989A;font-size: 11px; font-style: normal;line-height: 13px;}

.guid_table_block{border:1px solid #ececec;border-radius: 4px;margin-bottom: 20px}

.guid_table_block .table {
    margin:0;
}
.guid_table_block_title{padding: 25px 7px 43px 9px;}
.guid_block_title_r{color:#3F3E3E;font-size: 16px;line-height: 19px}
.guid_block_title_l{color:#84bf76;font-size: 16px;line-height: 19px}

.guide-save, .guide-cancel {width: 100%;padding: 10px 0;}
#guideModal .modal-header {
    background: #fff;
}
#guideModal .modal-header .modal-title{
    color: #84bf76;
}
#guideModal .modal-header span{
    color: #B7B7B7;
}
.circe_font {
    font-family: 'Circe-Regular', sans-serif !important;
}
.link-edit-guide {
    color: #3F3E3E;
}
.link-edit-guide:hover {
    color: #84bf76;
}

.margin-right-350 {
    margin-right: 350px !important;
}
@media (max-width:991px) {
    h1.margin-right-350 {
        margin-right: 0px !important;;
    }
}