/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.09.2016, 16:53:26
    Author     : ilia
*/

@light-blue-fk: #84bf76;
@light-blue-left-fk: #378a5f;
@sidebar-dark-bg: #3f3e3e;
@font-family-base: 'Open Sans', sans-serif;
@light-green-fk: #84bf76;
@dark-green-fk: #378a5f;